* {
  word-spacing: 2px;
}
.container {
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}
a:link {
  color: purple;
  text-decoration: none;
}
a:visited {
  color: coral;
}
header {
  background-color: salmon;
  font-size: 30px;
  text-align: center;
}
a[title] {
  color: white;
  font-family: serif;
}
body {
  margin: 0;
}
h1 {
  color: indianred;
  font-size: 40px;
  text-indent: 12px;
  margin: 15px;
}
p {
  font-size: 18px;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
