* {
  margin: 0;
  word-spacing: 2px;
}
a:link {
  color: purple;
  text-decoration: none;
}
a:visited {
  color: coral;
}
header {
  background-color: black;
  font-size: 25px;
  text-align: center;
}
a[title] {
  color: white;
  font-family: serif;
}
h1 {
  color: indianred;
  font-size: 40px;
  text-indent: 12px;
}
p {
  font-size: 18px;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
